* {

    box-sizing: border-box;
    text-decoration: none !important;
}

%p {
    color: rgb(78, 88, 101);
    font-size: 15px;
    line-height: 26px;
    font-family: Roboto, sans-serif;
    margin: 20px 0;
}

%h1 {
    color: rgb(25, 25, 25);
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    margin: 0px;
}

%h5 {

    color: rgb(53, 47, 217);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px 0px 15px;
}

body {


    .see {

        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #f7f7f7;
        z-index: 2000;
        text-align: center;
        display: none;

        .close2 {
            z-index: 2100;
            color: black;
            background: $miancolor;
            padding: 8px;
            position: absolute;
            border-radius: 50%;
            @include pref(box-shadow, none);
            top: 12px;
            right: 19px;
            display: none;
        }

        .ser {



            width: 400px;
            margin: auto;
            text-align: left !important;
            margin-top: 25%;
            position: relative;

            @include media-lap {

                width: 90%;
            }

            input {
                margin: 20px 0;
                padding: 30px 10px;
                width: 100%;
            }

            label {
                @extend %h1
            }

            small {
                padding-top: 30px;
            }

            i {
                position: absolute;
                top: 97px;
                font-size: 21px;
                right: 16px;
            }

        }
    }


    .over {

        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1100;
        display: none;
    }

    .close {
        position: fixed;
        top: 30px;
        right: 54px;
        color: #fff;
        opacity: 1;
        z-index: 1000;
        display: none;
        color: #fff;
        opacity: 1;
        z-index: 2000;
    }

    .modal-backdrop.show {
        display: none !important;
    }

    .navbar {

        background-color: transparent !important;

        .pers {

            right: 0;

            li {
                margin-right: 30px;

                i {
                    color: #fff;
                }
            }
        }



    }

    .nnn{
        background-color: #fff;
    }


    .wellcom {
        position: fixed;
        width: 90%;
        height: 80%;
        top: 10%;
        left: 5%;
        display: none;
        @include pref(border-radius, 10px);
        overflow: hidden;
        z-index: 1300;
        @include media-media2{
            overflow: visible;
        }

        .left {
            height: 770px;
            position: relative;

            @include media-media2 {

                display: none;

            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        .right {

            @include media-media2 {

                max-width: 100% !important;

            }

            height: 770px;

            background-color: #fff;

            .min-form {


                width: 100%;
                overflow: hidden;


                .mo {
                    padding: 50px 169px 0 50px;
                    position: relative;

                    img {
                        width: 150px;
                        display: block;
                        position: absolute;
                        width: 150px;
                        display: block;
                        left: 50px;
                        position: absolute;
                        top: 20px;
                    }


                    #btn {

                        outline-style: none !important;
                        width: 160px;


                        background-color: transparent !important;
                        margin: 30px 0px 30px 0px !important;
                        border: none;
                        border-bottom: 1px solid #ddd;
                        color: #2899eb;
                        font-size: 16px;
                        @include pref(border-radius, 0);

                        &:hover {
                            color: #2899eb;
                        }


                    }

                    #btn2 {
                        background-color: transparent !important;
                        margin: 30px 20px 30px 0px !important;
                        border: none;
                        width: 160px;
                        border-bottom: 1px solid #ddd;
                        color: #0d0d0d;
                        font-size: 16px;
                        @include pref(border-radius, 0);

                        &:hover {
                            color: #2899eb;
                        }
                    }

                }

                .lg-mov {
                    width: 200%;
                    display: flex;


                    .mov {


                        width: 50% !important;
                        padding: 0 169px 0 50px;

                        .h2 {
                            @extend %h1
                        }

                        .lead {
                            @extend %p
                        }


                        .link {
                            height: 50px;
                            display: flex;
                            margin: 30px 0 30px 0;
                            width: 90%;
                            padding: 15px;
                            @include pref(box-shadow, 0px 0px 21px rgba(0, 0, 0, 0.1));
                            @include pref(border-radius, 5px);

                            img {
                                width: 20px;
                                height: 20px;

                            }

                            a {
                                color: $cur;
                                font-family: inherit;
                                font-weight: 700;
                                font-size: 14px;
                                cursor: pointer;
                                text-transform: capitalize;
                                padding-left: 20px;

                            }

                        }

                        form {


                            .form-group {
                                margin-top: 30px !important;

                                input {
                                    border: none;
                                    border-bottom: 1px solid #ddd !important;
                                    background-color: transparent !important;
                                    font-size: 14px !important;
                                    @include pref(border-radius, 0);
                                    padding-left: 0;
                                    text-transform: capitalize;

                                    &:focus {
                                        border-bottom: 1px solid $miancolor !important;
                                        color: $miancolor;
                                        outline-style: none !important;
                                    }

                                }

                                small {
                                    font-size: 14px !important;
                                    color: #6c757d;
                                    position: absolute;
                                    bottom: 13px;
                                    left: 0;
                                }
                            }




                        }

                        .btn {
                            background-color: transparent !important;
                            margin: 50px 20px 50px 0px;
                            border: none;
                            color: black;
                            color: $cur;
                            font-family: inherit;
                            font-weight: 700;
                            font-size: 14px;
                            cursor: pointer;
                            text-transform: capitalize;
                            @include pref(border-radius, 0);
                        }

                        .btn-primary {

                            background-color: $miancolor !important;
                            color: black;
                        }



                    }

                }

                .act {

                    @include pref(animation, lef 1s ease both);

                    @include animate(lef) {
                        0% {
                            right: 0%;
                        }

                        100% {
                            right: 100%;
                        }
                    }
                }

                .act2 {

                    @include pref(animation, lef2 1s ease both);

                    @include animate(lef2) {
                        0% {
                            right: 100%;
                        }

                        100% {
                            right: 0%;
                        }
                    }
                }



            }


        }
    }





    // start header

    .header {
        background-color: #171717;
        padding-top: 100px;

        @include media-lap {
            height: 1112px !important;
        }

        @include media-mobile {
            height: 1212px !important;
        }

        .left {
            padding-right: 80px;


            .h1 {

                @extend %h1;

                color: #c5c5c5 !important;
                margin: 30px 0;

            }

            .lead1 {

                overflow: hidden;
                background-color: black;

                color: #c5c5c5 !important;
                @extend %p;
                @include pref(border-radius, 30px);
                height: 25px;

                span {

                    padding: 5px;
                    @include pref(border-radius, 30px);
                    margin-right: 10px;
                    height: 100%;
                    width: 40px;
                    background-color: $miancolor;
                    color: black;
                }


            }

            .lead {

                @extend %p;
                color: #c5c5c5 !important;
                margin: 30px 0;
            }

            .in {
                width: 350px;
                height: 56px;
                position: relative;

                @include media-lap {


                    width: 100%;

                }

                .mass {
                    top: 32%;
                    left: 11px;
                    font-size: 24px;
                    color: #6e6e6e !important;
                }

                input {
                    background-color: black !important;
                    padding: 15px;
                    padding-left: 50px;
                    color: #6e6e6e !important;
                    width: 100%;
                    height: 57px;
                    border: none;

                }
            }




            .btn {
                background-color: transparent !important;
                border: none;
                color: #8f8f8f !important;
                color: $cur;
                font-family: inherit;
                font-weight: 700;
                font-size: 14px;
                cursor: pointer;
                text-transform: capitalize;
                @include pref(border-radius, 0);
            }

            .btn-primary {

                background-color: $miancolor !important;
                color: #181818 !important;
            }

            .btn2 {
                position: relative;
                padding-left: 40px;
                margin-left: -6px;

                i {
                    position: absolute;
                    right: -11px;
                    top: 13px;



                }

                &:hover i {

                    @include pref(animation, lef3 1s ease infinite);


                }

                @include animate(lef3) {
                    0% {
                        right: 0;
                    }

                    100% {
                        right: -11px;
                    }
                }
            }

            .ov {
                display: block;
                margin-top: 70px;
            }




        }

        .right {

            @include media-lap {

                margin-top: 40px;
            }

            overflow: hidden;

            .owl-carousel {
                position: relative;

                .owl-dot {
                    display: none !important;

                }

                .owl-nav {

                    display: block;

                    .owl-prev {

                        font-size: 20px;
                        position: relative;
                        left: -243px;
                        bottom: -18px;
                        width: 45px;
                        height: 2px;
                        border-width: 0px;

                        [aria-label="Previous"] {
                            display: none !important;
                            opacity: 0 !important;

                        }

                        .pp {
                            outline: 0 !important;
                            outline-offset: 0;
                            border: none !important;
                        }

                        .pp:focus {
                            outline: 0 !important;
                            outline-offset: 0;
                            border: none !important;
                        }

                        .per {
                            border-width: 0px;
                            @include pref(transition, all .5s ease);
                            display: block;
                            height: 100%;
                            background-color: #ddd !important;
                            width: 30px;
                            left: 0;
                            position: absolute;

                        }

                        .per2 {
                            border-width: 0px;
                            @include pref(transition, all .5s ease);
                            display: block;
                            left: 0;
                            height: 100%;
                            position: absolute;
                            @include pref(transform-origin, top left);

                        }

                        .per3 {
                            border-width: 0px;
                            @include pref(transition, all .5s ease);
                            height: 100%;
                            @include pref(transform-origin, top left);
                            display: block;
                            left: 0;
                            position: absolute;

                        }

                        &:hover .per {
                            background-color: $miancolor !important;
                            width: 100%;


                        }

                        &:hover .per2 {
                            background-color: $miancolor !important;
                            @include pref(transform, rotateZ(-38deg));
                            width: 15px;

                        }

                        &:hover .per3 {
                            background-color: $miancolor !important;
                            @include pref(transform, rotateZ(38deg));
                            width: 15px;

                        }
                    }


                    .owl-next {
                        font-size: 20px;
                        width: 45px;
                        height: 2px;
                        position: relative;
                        left: -223px;
                        bottom: -18px;

                        [aria-label="Next"] {
                            display: none !important;
                            opacity: 0 !important;

                        }

                        .per {
                            background-color: $miancolor !important;
                            display: block;
                            height: 100%;
                            width: 100%;
                            left: 0;
                            position: absolute;

                        }

                        .per2 {
                            background-color: $miancolor !important;
                            display: block;
                            right: 0;
                            height: 100%;
                            width: 15px;
                            position: absolute;
                            @include pref(transform-origin, top right);
                            @include pref(transform, rotateZ(-38deg));

                        }

                        .per3 {
                            height: 100%;
                            @include pref(transform-origin, top right);
                            @include pref(transform, rotateZ(38deg));
                            width: 15px;
                            background-color: $miancolor !important;
                            display: block;
                            right: 0;
                            position: absolute;

                        }



                    }



                }

                .item {
                    width: 200px;
                    height: 400px;
                    @include pref(border-radius, 10px);
                    position: relative;
                    overflow: hidden;

                    @include media-mobile {
                        height: 300px !important;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        @include pref(transition, all .5s ease);


                    }

                    .h4 {

                        position: relative;
                        bottom: -350px;
                        padding: 0 0 23px 0px;
                        color: rgb(198, 198, 198);
                        left: 0%;
                        width: 100%;
                        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
                        text-align: center !important;

                        &::after {

                            position: absolute;
                            display: block;
                            content: "";
                            width: 100%;
                            left: 0;
                            bottom: 0;
                            height: 0px;
                            background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));

                        }


                    }


                    &:hover img {

                        @include pref(transform, scale(1.1));


                    }

                    &:hover .h4 {
                        color: white;
                        z-index: 400;

                        &::after {

                            z-index: -1;
                            position: absolute;
                            display: block;
                            content: "";
                            width: 100%;
                            left: 0;
                            bottom: 0;
                            height: 300px;
                            background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
                            @include pref(transition, all .5s ease);
                        }

                    }


                }
            }

        }
    }


    .featur {

        padding-top: 100px;

        .h1 {
            @extend %h1;
            display: block;
        }

        .h3 {
            font-family: Roboto, sans-serif;
            font-weight: 400;
            font-size: 20px;
            color: #4e587d;
            margin-top: 20px;
        }

        .h5 {
            @extend %h5;
        }

        .lead {
            @extend %p;
        }

        .fet {

            padding-top: 100px;
            flex-wrap: wrap;

            .on-fet {

                width: 300px;

                @include media-mobile {

                    width: 100%;
                    margin: auto;
                }

                img {
                    width: 71px;
                }

            }

        }
    }




    .meet {
        padding-top: 100px;

        .right {
            padding-left: 50px;

            .h2 {
                @extend %h1;
            }

            .lead {
                @extend %p;
            }

            .h5 {
                cursor: pointer;

                @extend %h5;
                position: relative;

                i {
                    position: absolute;
                    left: 94px;
                    top: 2px;



                }

                &:hover i {

                    @include pref(animation, lef3 1s ease infinite);


                }

                @include animate(lef3) {
                    0% {
                        left: 94;
                    }

                    100% {
                        left: 105px;
                    }
                }
            }
        }

    }

//start worck

    .worck {
        padding-top: 100px;
        background-image: url("../../../img/main.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;

        overflow: hidden;

        .ove {
            width: 103%;
            height: 90%;
            left: -25px;
            top: 15%;
            background-color: #fff;
            z-index: 0;
        }

        .left {
            z-index: 5;


            .he {
                padding-top: 0px;

                .h5 {
                    @extend %h5
                }

                .h1 {

                    @extend %h1
                }

                .radi {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }
            }


            .eee {
                width: 100%;

                background-color: #fff;

                //start curs2

                .owl-carousel {

                    width: 100%;
                    margin-top: 30px;

                    .owl-dot {
                        display: none !important;

                    }

                    .owl-nav {

                        display: block;

                        .owl-prev {

                            font-size: 20px;
                            position: relative;
                            left: 156px;
                            bottom: 39px;
                            width: 45px;
                            height: 2px;
                            border-width: 0px;

                            @include media-lap {

                                bottom: 0;
                                left: 74px;
                            }

                            [aria-label="Previous"] {
                                display: none !important;
                                opacity: 0 !important;

                            }


                            .per {
                                border-width: 0px;
                                @include pref(transition, all .5s ease);
                                display: block;
                                height: 100%;
                                background-color: #aaa !important;
                                width: 30px;
                                left: 0;
                                position: absolute;

                            }

                            .per2 {
                                border-width: 0px;
                                @include pref(transition, all .5s ease);
                                display: block;
                                left: 0;
                                height: 100%;
                                position: absolute;
                                @include pref(transform-origin, top left);

                            }

                            .per3 {
                                border-width: 0px;
                                @include pref(transition, all .5s ease);
                                height: 100%;
                                @include pref(transform-origin, top left);
                                display: block;
                                left: 0;
                                position: absolute;

                            }

                            &:hover .per {
                                background-color: $cur !important;
                                width: 100%;


                            }

                            &:hover .per2 {
                                background-color: $cur !important;
                                @include pref(transform, rotateZ(-38deg));
                                width: 15px;

                            }

                            &:hover .per3 {
                                background-color: $cur !important;
                                @include pref(transform, rotateZ(38deg));
                                width: 15px;

                            }
                        }


                        .owl-next {
                            font-size: 20px;
                            width: 45px;
                            height: 2px;
                            position: relative;
                            left: 166px;
                            bottom: 39px;

                            @include media-lap {

                                bottom: 0;
                                left: 74px;
                            }

                            [aria-label="Next"] {
                                display: none !important;
                                opacity: 0 !important;

                            }

                            .per {
                                background-color: $cur !important;
                                display: block;
                                height: 100%;
                                width: 100%;
                                left: 0;
                                position: absolute;

                            }

                            .per2 {
                                background-color: $cur !important;
                                display: block;
                                right: 0;
                                height: 100%;
                                width: 15px;
                                position: absolute;
                                @include pref(transform-origin, top right);
                                @include pref(transform, rotateZ(-38deg));

                            }

                            .per3 {
                                height: 100%;
                                @include pref(transform-origin, top right);
                                @include pref(transform, rotateZ(38deg));
                                width: 15px;
                                background-color: $cur !important;
                                display: block;
                                right: 0;
                                position: absolute;

                            }



                        }



                    }

                    .item {
                        padding-top: 40px;
                        width: 400px;
                        height: 400px;
                        @include pref(border-radius, 10px);
                        position: relative;
                        overflow: hidden;
                        padding-left: 50px;

                        @include media-mobile {
                            height: 300px !important;
                            width: 200px;

                        }

                        .lead {
                            @extend %p
                        }


                    }
                }

            }



        }

        .right {
            z-index: 5;
            padding-left: 236px;

            @include media-lap {

                padding: 0;
                padding-top: 50px;

            }

            .eee {

                img {
                    @include media-lap {

                        width: 80% !important;
                    }
                }

                @include media-lap {

                    width: 80%;
                }

            }

        }
    }

    // start cur4

    .mycur4 {


        padding-top: 100px;
        .owl-carousel {

            .owl-dot {
                display: none !important;

            }
            [aria-label="Next"] {
                display: none !important;
                opacity: 0 !important;

            }
            [aria-label="Previous"] {
                display: none !important;
                opacity: 0 !important;

            }

            .item {
                padding-top: 40px;
                width: 300px;
                height: 400px;
                @include pref(border-radius, 10px);
                position: relative;
                padding-left: 50px;
         

            img {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;

            }

            .oveer {
                position: absolute;
                width: 100%;
                height: 0px;
                @include pref(transition, all .5s ease);
                background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
                bottom: 0;

                left: 0;
            }

            .sh {

                bottom: 40px !important;
                position: absolute;
                left: 37px;
                width: 226px;
            

                .min-sh {

                    background: $miancolor;
                    width: 80%;
                    margin: 0 auto;
                    @include pref(border-radius, 10px);
                    text-align: center;


                    .h3 {

                        font-size: 20px;
                        font-weight: 600px;

                    }

                    .lead {
                        @extend %p
                    }
                }

                ul {
                    width: 100%;
                    li{
                        i{
                            color: #fff;
                        }
                    }
                }
            }

            &:hover .oveer {

                height: 150px;



            }
        }
    }

    }


    .cor{


        overflow: hidden;
        padding-top: 100px;
        background-color: #fbfafe;

        .container{
            z-index: 0;
        }

        .h1{

            font-size: 342px;
    z-index: -1;
    position: absolute;
    width: 100%;
    left: 81px;
    top: -297px;
    color: #fff;

        }
        .fett{
            flex-wrap: wrap;

            .min-cor{

                width: 250px;
    
                .lead{
    
                    @extend %p;
                    margin: 50px 0;
                }
                .h3{
                    font-size: 20px;
                }
                
            }


        }

       
    }
    

    //start park

    .park {
        padding-top: 100px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;

        @include media-media2{

            height: 1000px;
        }

        .ove {
            width: 103%;
            height: 90%;
            left: -25px;
            top: 15%;
            background-color: #fff;
            z-index: 0;
        }

        .left {
            z-index: 5;


            .he {
                padding-top: 0px;

                .h5 {
                    @extend %h5
                }

                .h1 {

                    @extend %h1
                }

                .radi {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }
            }


            .eee {
                width: 100%;

                background-color: #fff;

                //start curs2

                .owl-carousel {

                    width: 100%;
                    margin-top: 30px;

                    .owl-dot {
                        display: none !important;

                    }

                    .owl-nav {

                        display: block;

                        .owl-prev {

                            font-size: 20px;
                            position: relative;
                            left: 180px;
                            bottom: 399px;
                            width: 45px;
                            height: 2px;
                            border-width: 0px;

                            @include media-lap {

                                bottom: 0;
                                left: 74px;
                            }

                            [aria-label="Previous"] {
                                display: none !important;
                                opacity: 0 !important;

                            }


                            .per {
                                border-width: 0px;
                                @include pref(transition, all .5s ease);
                                display: block;
                                height: 100%;
                                background-color: #aaa !important;
                                width: 30px;
                                left: 0;
                                position: absolute;

                            }

                            .per2 {
                                border-width: 0px;
                                @include pref(transition, all .5s ease);
                                display: block;
                                left: 0;
                                height: 100%;
                                position: absolute;
                                @include pref(transform-origin, top left);

                            }

                            .per3 {
                                border-width: 0px;
                                @include pref(transition, all .5s ease);
                                height: 100%;
                                @include pref(transform-origin, top left);
                                display: block;
                                left: 0;
                                position: absolute;

                            }

                            &:hover .per {
                                background-color: $cur !important;
                                width: 100%;


                            }

                            &:hover .per2 {
                                background-color: $cur !important;
                                @include pref(transform, rotateZ(-38deg));
                                width: 15px;

                            }

                            &:hover .per3 {
                                background-color: $cur !important;
                                @include pref(transform, rotateZ(38deg));
                                width: 15px;

                            }
                        }


                        .owl-next {
                            font-size: 20px;
                            width: 45px;
                            height: 2px;
                            position: relative;
                            left: 183px;
                            z-index: 40;
                            bottom: 399px;

                            @include media-lap {

                                bottom: 0;
                                left: 74px;
                            }

                            [aria-label="Next"] {
                                display: none !important;
                                opacity: 0 !important;

                            }

                            .per {
                                background-color: $cur !important;
                                display: block;
                                height: 100%;
                                width: 100%;
                                left: 0;
                                position: absolute;

                            }

                            .per2 {
                                background-color: $cur !important;
                                display: block;
                                right: 0;
                                height: 100%;
                                width: 15px;
                                position: absolute;
                                @include pref(transform-origin, top right);
                                @include pref(transform, rotateZ(-38deg));

                            }

                            .per3 {
                                height: 100%;
                                @include pref(transform-origin, top right);
                                @include pref(transform, rotateZ(38deg));
                                width: 15px;
                                background-color: $cur !important;
                                display: block;
                                right: 0;
                                position: absolute;

                            }



                        }



                    }

                    

                    .item {
                        padding-top: 40px;
                        width: 400px;
                        height: 400px;
                        @include pref(border-radius, 10px);
                        position: relative;
                        overflow: hidden;
                        padding-left: 50px;

                        @include media-mobile {
                            height: 300px !important;
                            width: 100%;

                        }

                        .hhh{

                            img{

                                left: -44px;
                                z-index: -1;
                                width: 153px;
                                top: 31px;
                            }
                        }

                        .lead {
                            @extend %p
                        }


                    }
                }

            }



        }

        .right {
            z-index: 5;
            padding-left: 236px;

            @include media-lap {

                padding: 0;
                padding-top: 50px;

            }

            .hhh2{

                li{
                    @include pref(border-radius,50%);
                    overflow: hidden;
                    width: 100px;
                    height: 100px;
                }
                li:first-of-type{

                    left: 37%;
                }
                li:nth-of-type(2){

                    bottom: -221px;
                }
                li:nth-of-type(3){

                    bottom: -346px;
                    left: 159px;
                }
                li:nth-of-type(4){

                    bottom: -221px;
                    right: 0;
                }
                li:last-of-type{

                    bottom: -221px;
                    left: 154px;
                }
               

            }

           
        }
    }

    .cur10{

        .item{

            .min-sh{
                background-color: transparent!important;
                color: $miancolor
            }
        }

        .one{

            margin-top: 50px!important;
        }
        .three{

            margin-top: 50px!important;
        }
        .five{

            margin-top: 50px!important;
        }
    }



    // start see2
    .see2 {

        padding-top: 100px;
        width: 100%;
        z-index: 2000;
        text-align: center!important;
        


        .ser {



            width: 400px;
            margin: auto;
            text-align: left !important;
            position: relative;

            @include media-lap {

                width: 90%;
            }

            input {
                margin: 20px 0;
                padding: 30px 10px;
                width: 100%;
            }

            label {
                @extend %h1
            }

            

            i {
                position: absolute;
                top: 97px;
                font-size: 21px;
                right: 16px;
            }

        }
    }

    // start footer

    footer{

        padding-top: 100px;
        background-color: #191919;
        background-image: url("../../../img/map.png") ;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 73%;

       
        
        .left{

            .lead{
                @extend %p;
                color:#c6c6c6!important;
            }
            ul{
                li{
                    i{
                        color:#c6c6c6!important;
                    }
                }
            }
        }

        .right{
            @include media-lap{

               padding-top: 100px;
            }

            ul{
                li{

                    .h3{
                        @extend %h1;
                        color: #c6c6c6;
                        font-size: 17px;
                    }

                    .lead{
                        color:#c6c6c6!important;
                        font-size: 14px!important;
                    }
                }
                @include media-mobile{

                    width: 100%!important;
                }
            }
        }
    }
    .capy{

        .hr{

            background: #c6c6c6; 
            opacity: 0.2;
        }

        .lead{
            @extend %p;
            color: #443c2e!important;
        }
  
    }

}

.container {

    width: 99% !important;
}